@import url("https://maple-ui.netlify.app/CSS/base.css");
.App{
    width: 100%;
}
.home{
    margin-top: 3rem;
    border: 2px solid red;
    height: 100vh;
}
 body::-webkit-scrollbar {
     display: none; 
} 
